[Unit]
Description=Videowall
After=getty.target

[Install]
WantedBy=multi-user.target

[Service]
User=pi
ExecStart=/bin/bash -c "source /home/pi/videowall/setup.bash && sleep 5 && /home/pi/videowall/scripts/client rpi eth0"

